<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Game List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Round</th>
        <th>Home</th>
        <th>vs</th>
        <th>Away</th>
        <th>GF : GA</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let game of games | async">
        <td>{{game.round}}</td>
        <td><img src="assets/team_logos/{{game.homeTeam.teamShortcut}}.png"> {{game.homeTeam.teamName}}</td>
        <td>vs</td>
        <td><img src="assets/team_logos/{{game.awayTeam.teamShortcut}}.png"> {{game.awayTeam.teamName}}</td>
        <td>{{game.homeGoals}} : {{game.awayGoals}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
