<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Team List</h2>
    <p>
      <button class="btn btn-info" style="margin-left: 10px">Overall</button>
      <button class="btn btn-info" style="margin-left: 10px">Home</button>
      <button class="btn btn-info" style="margin-left: 10px">Away</button>
    </p>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Team</th>
        <th>TeamShct</th>
        <th>D</th>
        <th>C</th>
        <th>GP</th>
        <th>W</th>
        <th>L</th>
        <th>OL</th>
        <th>GF : GA</th>
        <th>P</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let team of teamTest ">
        <td><img src="assets/team_logos/{{team.teamShortcut}}.png"> {{team.teamName}}</td>
        <td>{{team.teamShortcut | uppercase}}</td>
        <td>{{team.division}}</td>
        <td>{{team.conference}}</td>
        <td>{{team.gamesPlayed}}</td>
        <td>{{team.wins}}</td>
        <td>{{team.loses}}</td>
        <td>{{team.overtimeLoses}}</td>
        <td>{{team.goalsFor}}:{{team.goalsAgainst}}</td>
        <td>{{team.points}}</td>
        <td>
          <button (click)="updateTeam(team.teamId)" class="btn btn-info" style="margin-left: 10px">Update</button>
        <td>
          <button (click)="teamDetails(team.teamId)" class="btn btn-info" style="margin-left: 10px">Details</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
